
@{
    ViewBag.Title = "TaskAdd";
}

<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="~/JavaScript/App.js"></script>
</head>

<body ng-app="TaskAdd">
    <h2>Add New Task: </h2>
    <form ng-submit="submit()" ng-controller="TaskAddController">
        <div>Title: <input type="text" ng-model="Title" required/></div><br />
        <div>Description: <input type="text" ng-model="Description" required/></div><br />
        <div>State: <input type="text"  ng-model="State"/></div><br />
        <div><input type="submit" id="taskSubmit" value="Submit"/></div><br />
    </form>



    <script>
       
    </script>
</body>

</html>

